<p>
  svg-circle works!
</p>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="on-circle-container" viewBox="0 0 612 792" xml:space="preserve">
      <circle  class="on-circle" cx='300' cy='300' r='50' style="cursor: pointer;" ></circle>

      <g class="on-circle-segments" style="cursor: pointer;">
          <path class="on-circle-segment" d="
              M 432, 273.5
              c 11.6, 0, 22.5, 2.7, 32.2, 7.6
                            M 464.2, 281.1
              c 13.9, 7, 25.3, 18.3, 32.2, 32.2
                            M 496.4, 313.3
              c 4.9, 9.7, 7.6, 20.6, 7.6, 32.2
                            M 496.4, 377.7
              c 4.9-9.7,7.6-20.6,7.6-32.2
                            M 496.4, 377.7
              c -7, 13.9 -18.3, 25.3 -32.2, 32.2
                            M 464.2, 409.9
              c -9.7, 4.9 -20.6,7.6 -32.2,7.6
                            M 432, 417.5
              c -39.8,0 -72-32.2-72-72
              s 32.2-72, 72-72
              "
          />
      </g>
</svg>
